In [ ]:
variable_name = "value"

In [1]:
salary = 100000

In [2]:
salary

100000

In [4]:
job_title = "data analyst"
salary = 100000
location = "united states"

print(job_title)

data analyst